*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

footer {
  background-color: rgb(27, 70, 27);
  color: white;
  font-size: 14px;
  padding: 20px 0;
  overflow-x: hidden;
}

.footer-container {
  display: flex;
  padding: 0% 6%;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 46px;
  margin-right: 10px;
}
.logo h3 {
  font-weight: bold;
  font-size: 20px;
}

.footer-right img {
  transition: all 0.3s ease;
  margin-left: 10px;
  width: 20px;
  display: flex;
  padding: 15px;
  display: inline-block;
}


hr {
  border: none;
  border-top: 1px solid white;
  width: 94%;
  margin: 25px auto;
}

.footer-columns {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: -250px;
}

.footer-column {
  flex: 1;
  flex-basis: 33;
  padding: 15px 20px ;
  max-width: 370px;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-column a:hover {
  color: rgb(170, 252, 77);
}

.copy-right {
  text-align: center;
  opacity: 0.5;
  margin-top: 30px;
  font-size: 12px;
}
.footer-right img:hover{
  transform:scale(1.2);
}
